<a href="https://colab.research.google.com/github/bali1091287/DataScienceHmw/blob/main/Homework5_Aytaj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Case Intro
Term deposits are a major source of income for a bank. A term deposit is a cash investment held at a financial institution. Your money is invested for an agreed rate of interest over a fixed amount of time, or term. The bank has various outreach plans to sell term deposits to their customers such as email marketing, advertisements, telephonic marketing, and digital marketing.

Telephonic marketing campaigns still remain one of the most effective way to reach out to people. However, they require huge investment as large call centers are hired to actually execute these campaigns. Hence, it is crucial to identify the customers most likely to convert beforehand so that they can be specifically targeted via call.

The data is related to direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe to a term deposit (variable y).

Content
The data is related to the direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed by the customer or not. The data folder contains two datasets:-

Bank.csv: 45,211 rows and 18 columns ordered by date (from May 2008 to November 2010)

Detailed Column Descriptions
bank client data:

1 - age (numeric)

2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
"blue-collar","self-employed","retired","technician","services")

3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)

4 - education (categorical: "unknown","secondary","primary","tertiary")

5 - default: has credit in default? (binary: "yes","no")

6 - balance: average yearly balance, in euros (numeric)

7 - housing: has housing loan? (binary: "yes","no")

8 - loan: has personal loan? (binary: "yes","no")
# related with the last contact of the current campaign:
9 - contact: contact communication type (categorical: "unknown","telephone","cellular")
10 - day: last contact day of the month (numeric)

11 - month: last contact month of year (categorical: "jan", "feb", "mar", â€¦, "nov", "dec")

12 - duration: last contact duration, in seconds (numeric)

# other attributes:
13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)

14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)

15 - previous: number of contacts performed before this campaign and for this client (numeric)

16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

Output variable (desired target):

17 - y - has the client subscribed a term deposit? (binary: "yes","no")

Missing Attribute Values: None

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/Bank.csv',sep = ';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [3]:
print(df.shape)
df.info()
df.isnull().sum()

(45211, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [4]:
#For object check the data 
for cn in df.columns:
  if(df[cn].dtype==object):
    print(df[cn].value_counts())

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64
married     27214
single      12790
divorced     5207
Name: marital, dtype: int64
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64
no     44396
yes      815
Name: default, dtype: int64
yes    25130
no     20081
Name: housing, dtype: int64
no     37967
yes     7244
Name: loan, dtype: int64
cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64
may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64
unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64
no     39922
yes     5289
Name: y, dtype: int64

In [5]:
def Encoder(df):
          from sklearn import preprocessing
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = preprocessing.LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [6]:
df=Encoder(df)
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3,1
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3,1
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2,1
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3,0
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1,0

In [7]:
y = df['y'] #Output
X = df.drop('y',axis=1)
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1

In [8]:
from sklearn.model_selection import  train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

 


Q1)Using  Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate Accuracy on Test data. Which method gives the best accuracy on test data

In [9]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(random_state=17)
forest.fit(X_train, y_train)

forest_pred = forest.predict(X_test)
accuracy_score(y_test, forest_pred)

0.9025037600636999

In [10]:
from xgboost import XGBClassifier
model = XGBClassifier(random_state=17)
model.fit(X_train, y_train)

xgb_pred = model.predict(X_test)
accuracy_score(y_test, xgb_pred)

0.90020348580023

In [11]:
from sklearn.ensemble import GradientBoostingClassifier
from time import time
t0 = time()
gbm_model = GradientBoostingClassifier(random_state=17)
gbm_model.fit(X_train, y_train)
gbm_time = time() - t0
accuracy_score(y_test, gbm_model.predict(X_test))

0.9018844554543042

In [12]:
import lightgbm as lgb
t0 = time()
lgb_model = lgb.LGBMClassifier(random_state=17)
lgb_model.fit(X_train, y_train)
lgb_time = time() - t0
accuracy_score(y_test, lgb_model.predict(X_test))

0.9044501459789437

Q2) Using optuna hyperparmeter optimization technique and 100 trial

 a)find best methods with  parameters  using Cross validation (CV=3) technique for the range of   parameters below. What are the best parameters for the method with highest cross validation accuracy?

"max_depth": range(2, 16), "max_features": range(2, 16)

 b)Evaluate the performance of the  method with highest cross validation accuracy on test data.What is the accuracy value?

In [13]:
!pip install optuna

Requirement already satisfied: optuna in /usr/local/lib/python3.7/dist-packages (2.10.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Requirement already satisfied: alembic in /usr/local/lib/python3.7/dist-packages (from optuna) (1.7.7)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (3.13)
Requirement already satisfied: cmaes>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from optuna) (0.8.2)
Requirement already satisfied: colorlog in /usr/local/lib/python3.7/dist-packages (from optuna) (6.6.0)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.21.5)
Requirement already satisfied: cliff in /usr/local/lib/python3.7/dist-packages (from optuna) (3.10.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.63.0)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.32)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.7)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.11.3)
Requirement already satisfied: Mako in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (1.2.0)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (5.4.0)
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.2.0)
Requirement already satisfied: stevedore>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.5.0)
Requirement already satisfied: cmd2>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (2.4.0)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (5.8.1)
Requirement already satisfied: autopage>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (0.5.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (3.10.0.2)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (1.8.2)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.4.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna) (3.7.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)

In [ ]:
import optuna

import sklearn.datasets
import sklearn.ensemble
import sklearn.model_selection
import sklearn.svm


# FYI: Objective functions can take additional arguments
# (https://optuna.readthedocs.io/en/stable/faq.html#objective-func-additional-args).
def objective(trial):
    x, y = X_train,y_train

    classifier_name = trial.suggest_categorical("classifier", ["Random Forest","XGBoost", "LightGBM","GradientBoostingClassifier" ])
    if classifier_name == "Random Forest":
         from sklearn.ensemble import RandomForestClassifier
         max_depth = trial.suggest_int("max_depth", 2,16)
         max_features = trial.suggest_int("max_features", 2,16)
         classifier_obj = sklearn.ensemble.RandomForestClassifier(random_state=17,  max_depth=max_depth, max_features=max_features )
        
         

    elif classifier_name == "XGBoost":
         from xgboost import XGBClassifier
         max_depth = trial.suggest_int("max_depth", 2,16)
         max_features = trial.suggest_int("max_features", 2,16)
         classifier_obj = XGBClassifier(random_state=17,  max_depth=max_depth, max_features=max_features )
        
         

    elif classifier_name == "LightGBM":
         import lightgbm as lgb
         max_depth = trial.suggest_int("max_depth", 2,16)
         max_features = trial.suggest_int("max_features", 2,16)
         classifier_obj = lgb.LGBMClassifier(random_state=17,  max_depth=max_depth, max_features=max_features )
        
       
       
    else:
         max_depth = trial.suggest_int("max_depth", 2,16)
         max_features = trial.suggest_int("max_features", 2,16)
         classifier_obj = sklearn.ensemble.GradientBoostingClassifier(random_state=17,  max_depth=max_depth, max_features=max_features )
        
         

    accuracy=sklearn.model_selection.cross_val_score(classifier_obj, x, y, n_jobs=-1, cv=3).mean()
   
    return accuracy


if __name__ == "__main__":
    study = optuna.create_study(direction="maximize")
    study.optimize(objective, n_trials=100)
    print(study.best_trial)

[I 2022-04-07 01:42:03,280] A new study created in memory with name: no-name-cab04584-1cb8-4a00-b9a8-0de569107871
[I 2022-04-07 01:42:18,600] Trial 0 finished with value: 0.9011443386691661 and parameters: {'classifier': 'Random Forest', 'max_depth': 5, 'max_features': 15}. Best is trial 0 with value: 0.9011443386691661.
[I 2022-04-07 01:42:27,349] Trial 1 finished with value: 0.8977822428009629 and parameters: {'classifier': 'Random Forest', 'max_depth': 8, 'max_features': 3}. Best is trial 0 with value: 0.9011443386691661.
[I 2022-04-07 01:42:30,819] Trial 2 finished with value: 0.9081042889736648 and parameters: {'classifier': 'LightGBM', 'max_depth': 16, 'max_features': 6}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:42:44,405] Trial 3 finished with value: 0.9046537810330927 and parameters: {'classifier': 'XGBoost', 'max_depth': 7, 'max_features': 14}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:43:48,867] Trial 4 finished with value: 0.902589390585759 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 16, 'max_features': 8}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:44:03,256] Trial 5 finished with value: 0.9040934943457475 and parameters: {'classifier': 'XGBoost', 'max_depth': 10, 'max_features': 10}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:44:33,785] Trial 6 finished with value: 0.9058629726175577 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 12, 'max_features': 7}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:44:53,553] Trial 7 finished with value: 0.902176523455496 and parameters: {'classifier': 'XGBoost', 'max_depth': 13, 'max_features': 3}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:45:06,227] Trial 8 finished with value: 0.9034151326742875 and parameters: {'classifier': 'XGBoost', 'max_depth': 9, 'max_features': 16}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:45:39,593] Trial 9 finished with value: 0.9029137856289653 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 12, 'max_features': 11}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:45:40,489] Trial 10 finished with value: 0.9010263680584213 and parameters: {'classifier': 'LightGBM', 'max_depth': 2, 'max_features': 6}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:45:42,013] Trial 11 finished with value: 0.9081042889736648 and parameters: {'classifier': 'LightGBM', 'max_depth': 16, 'max_features': 7}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:45:43,530] Trial 12 finished with value: 0.9081042889736648 and parameters: {'classifier': 'LightGBM', 'max_depth': 16, 'max_features': 5}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:45:45,066] Trial 13 finished with value: 0.9079273160968748 and parameters: {'classifier': 'LightGBM', 'max_depth': 14, 'max_features': 11}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:45:46,587] Trial 14 finished with value: 0.9069541492325955 and parameters: {'classifier': 'LightGBM', 'max_depth': 15, 'max_features': 5}. Best is trial 2 with value: 0.9081042889736648.
[I 2022-04-07 01:45:48,121] Trial 15 finished with value: 0.9084877045482559 and parameters: {'classifier': 'LightGBM', 'max_depth': 11, 'max_features': 9}. Best is trial 15 with value: 0.9084877045482559.
[I 2022-04-07 01:45:49,629] Trial 16 finished with value: 0.9084877045482559 and parameters: {'classifier': 'LightGBM', 'max_depth': 11, 'max_features': 13}. Best is trial 15 with value: 0.9084877045482559.
[I 2022-04-07 01:45:51,159] Trial 17 finished with value: 0.9084877045482559 and parameters: {'classifier': 'LightGBM', 'max_depth': 11, 'max_features': 13}. Best is trial 15 with value: 0.9084877045482559.
[I 2022-04-07 01:45:52,655] Trial 18 finished with value: 0.9070131280146323 and parameters: {'classifier': 'LightGBM', 'max_depth': 6, 'max_features': 12}. Best is trial 15 with value: 0.9084877045482559.
[I 2022-04-07 01:46:02,990] Trial 19 finished with value: 0.9050077215680039 and parameters: {'classifier': 'Random Forest', 'max_depth': 10, 'max_features': 9}. Best is trial 15 with value: 0.9084877045482559.
[I 2022-04-07 01:46:04,512] Trial 20 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 13}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:46:06,577] Trial 21 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 13}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:46:08,117] Trial 22 finished with value: 0.9079273160968748 and parameters: {'classifier': 'LightGBM', 'max_depth': 14, 'max_features': 14}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:46:09,646] Trial 23 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 13}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:46:11,146] Trial 24 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 16}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:46:12,689] Trial 25 finished with value: 0.9079273160968748 and parameters: {'classifier': 'LightGBM', 'max_depth': 14, 'max_features': 16}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:46:14,217] Trial 26 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 12}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:46:32,781] Trial 27 finished with value: 0.9046538488757833 and parameters: {'classifier': 'Random Forest', 'max_depth': 12, 'max_features': 15}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:46:52,093] Trial 28 finished with value: 0.9037985534675471 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 9, 'max_features': 11}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:46:59,423] Trial 29 finished with value: 0.8938303408470523 and parameters: {'classifier': 'Random Forest', 'max_depth': 4, 'max_features': 15}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:47:00,960] Trial 30 finished with value: 0.9069541492325955 and parameters: {'classifier': 'LightGBM', 'max_depth': 15, 'max_features': 13}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:47:02,479] Trial 31 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 14}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:47:04,003] Trial 32 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 15}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:47:05,539] Trial 33 finished with value: 0.9069541492325955 and parameters: {'classifier': 'LightGBM', 'max_depth': 15, 'max_features': 15}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:47:07,053] Trial 34 finished with value: 0.9081042785363277 and parameters: {'classifier': 'LightGBM', 'max_depth': 10, 'max_features': 12}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:47:21,042] Trial 35 finished with value: 0.9038869942425928 and parameters: {'classifier': 'Random Forest', 'max_depth': 8, 'max_features': 16}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:47:22,546] Trial 36 finished with value: 0.9076324143586882 and parameters: {'classifier': 'LightGBM', 'max_depth': 12, 'max_features': 14}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:47:43,727] Trial 37 finished with value: 0.9015866808391091 and parameters: {'classifier': 'XGBoost', 'max_depth': 14, 'max_features': 14}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:48:32,074] Trial 38 finished with value: 0.9001121277894937 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 13, 'max_features': 16}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:48:33,591] Trial 39 finished with value: 0.9084877045482559 and parameters: {'classifier': 'LightGBM', 'max_depth': 11, 'max_features': 15}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:48:44,432] Trial 40 finished with value: 0.9051846239927689 and parameters: {'classifier': 'XGBoost', 'max_depth': 8, 'max_features': 10}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:48:45,951] Trial 41 finished with value: 0.9089300180155221 and parameters: {'classifier': 'LightGBM', 'max_depth': 13, 'max_features': 12}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:48:47,465] Trial 42 finished with value: 0.9076324143586882 and parameters: {'classifier': 'LightGBM', 'max_depth': 12, 'max_features': 14}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:48:49,006] Trial 43 finished with value: 0.9069541492325955 and parameters: {'classifier': 'LightGBM', 'max_depth': 15, 'max_features': 12}. Best is trial 20 with value: 0.9089300180155221.
[I 2022-04-07 01:48:50,752] Trial 44 finished with value: 0.9079273160968748 and parameters: {'classifier': 'LightGBM', 'max_depth': 14, 'max_features': 10}. Best is trial 20 with value: 0.9089300180155221.

In [ ]:
study.best_params

In [ ]:
import lightgbm as lgb
lgb_model = lgb.LGBMClassifier(random_state=17,max_depth=13,max_features=2)
lgb_model.fit(X_train, y_train)

print(accuracy_score(y_test, lgb_model.predict(X_test)))
#print(confusion_matrix(y_test, lgb_model.predict(X_test)))

In [1]:
best_model = compare_models()

NameError: ignored

In [ ]:
import optuna

import sklearn.datasets
import sklearn.ensemble
import sklearn.model_selection
import sklearn.svm


# FYI: Objective functions can take additional arguments
# (https://optuna.readthedocs.io/en/stable/faq.html#objective-func-additional-args).
def objective(trial):
    x, y = X_train,y_train

    param = {
        "objective": "binary",
        "verbosity": -1,
        "boosting_type": "gbdt",
        "max_dept" :trial.suggest_int("max_depth", 2, X_train.shape[1]),
        "max_features" : trial.suggest_int("max_features", 2,X_train.shape[1]),       
        "num_leaves": trial.suggest_int("num_leaves", 2, 256),
        "feature_fraction": trial.suggest_float("feature_fraction", 0.4, 1.0),
        "bagging_fraction": trial.suggest_float("bagging_fraction", 0.4, 1.0),
        "bagging_freq": trial.suggest_int("bagging_freq", 1, 7),
        "min_child_samples": trial.suggest_int("min_child_samples", 5, 100),
    }
    import lightgbm as lgb
    classifier_obj = lgb.LGBMClassifier(random_state=17,**param)

    accuracy=sklearn.model_selection.cross_val_score(classifier_obj, x, y, n_jobs=-1, cv=3).mean()
   
    return accuracy


if __name__ == "__main__":
    study = optuna.create_study(direction="maximize")
    study.optimize(objective, n_trials=100)
    print(study.best_trial)

In [ ]:
print(study.best_params)

In [ ]:
import lightgbm as lgb
lgb_model = lgb.LGBMClassifier(random_state=17,max_depth=2,max_features=8)
lgb_model.fit(X_train, y_train)

print(accuracy_score(y_test, lgb_model.predict(X_test)))

In [ ]:
best_model = compare_models()

For Q3 and Q4 ,use the following data.

In [ ]:
dr=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/diamond.csv')
dr

In [ ]:
def Encoder(df):
          from sklearn import preprocessing
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = preprocessing.LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [ ]:
dr=Encoder(dr)
dr

In [ ]:
y = dr['Price'] #Output
X = dr.drop('Price',axis=1)
X

In [ ]:
from sklearn.model_selection import  train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

Q3)Using Linear Regression,Decison Tree Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate R2 statistics on test data. Which method gives the best accuracy on test data

In [ ]:
from sklearn.metrics import r2_score
#from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(random_state=17)
tree.fit(X_train, y_train)

tree_pred = tree.predict(X_test)
r2_score(y_test, tree_pred)
#accuracy_score(y_test, tree_pred)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(random_state=17 )
forest.fit(X_train, y_train)

forest_pred = forest.predict(X_test)
r2_score(y_test, forest_pred)
#accuracy_score(y_test, forest_pred)

In [ ]:
from xgboost import XGBClassifier
model = XGBClassifier(random_state=17)
model.fit(X_train, y_train)

xgb_pred = model.predict(X_test)
r2_score(y_test, xgb_pred)
#accuracy_score(y_test, xgb_pred)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
from time import time
t0 = time()
gbm_model = GradientBoostingClassifier(random_state=17)
gbm_model.fit(X_train, y_train)
gbm_time = time() - t0
r2_score(y_test, gbm_model.predict(X_test))
#accuracy_score(y_test, gbm_model.predict(X_test))

In [ ]:
import lightgbm as lgb
t0 = time()
lgb_model = lgb.LGBMClassifier(random_state=17)
lgb_model.fit(X_train, y_train)
lgb_time = time() - t0
r2_score(y_test, lgb_model.predict(X_test))
#accuracy_score(y_test, lgb_model.predict(X_test))

Q4) Using optuna hyperparmeter optimization technique (100 trial)  with Random Forest,XGBoost, Light GBM and Gradient Boosting Regressor

a)find best methods with  parameters  using Cross validation (CV=3) technique for the range of   parameters below. What are the best parameters for the method with highest cross validation R2?

"max_depth": range(2, 7), "max_features": range(2, 7)

 b)Evaluate the performance of the  method with highest cross validation R2 on test data. What is the R2 value?

In [ ]:
import optuna

import sklearn.datasets
import sklearn.ensemble
import sklearn.model_selection
import sklearn.svm


# FYI: Objective functions can take additional arguments
# (https://optuna.readthedocs.io/en/stable/faq.html#objective-func-additional-args).
def objective(trial):
    x, y = X_train,y_train

    regressor_name = trial.suggest_categorical("regressor", ["GradientBoosting", "XGBoost","LightGBM","RandomForest"])
    if regressor_name == "GradientBoosting":
         max_depth = trial.suggest_int("max_depth", 2,7)
         max_features = trial.suggest_int("max_features", 2,7)
         regressor_obj = sklearn.ensemble.GradientBoostingRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )
    
    elif regressor_name == "XGBoost":
         from xgboost import XGBRegressor
         max_depth = trial.suggest_int("max_depth", 2,7)
         max_features = trial.suggest_int("max_features", 2,7)
         regressor_obj = XGBRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )
        
         

    elif regressor_name == "LightGBM":
         import lightgbm as lgb
         max_depth = trial.suggest_int("max_depth", 2,7)
         max_features = trial.suggest_int("max_features", 2,7)
         regressor_obj = lgb.LGBMRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )
        
       
   
    else:
         max_depth = trial.suggest_int("max_depth", 2,7)
         max_features = trial.suggest_int("max_features", 2,7)
         regressor_obj = sklearn.ensemble.RandomForestRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )

     

    r2=sklearn.model_selection.cross_val_score(regressor_obj, x, y, n_jobs=-1, cv=3).mean()
   
    return r2


if __name__ == "__main__":
    study = optuna.create_study(direction="maximize")
    study.optimize(objective, n_trials=100)
    print(study.best_trial)